* {
    margin: 0;
    padding: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(217, 54%, 11%);
}

/* Header */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

h1 {
    font-size: 4em;
    color: hsl(0, 0%, 100%);
}

/* Corps */

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.cardContainer {
    margin: 30px;
    width: 300px;
    height: 550px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    flex-direction: column;
}

.cardContainerImg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding: 5%;

}

.cardImg {
    width: 100px;
    height: 300px;
    border-radius: 15px;
}

.cardContainerContent {
    padding: 5%;
}

.cardContainerContent > h2:first-of-type {
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
}

.cardContainerContent > p:first-of-type {
    font-size: 0.9em;
    color: hsl(215, 51%, 70%);
    padding-top: 5%;
}

.cardContainerBuy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
}

.cardContainerBuyLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cardContainerBuyRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.cardContainerBuyLeft > p:first-of-type {
    padding-left: 3px;
    font-size: 0.9em;
    color: hsl(178, 100%, 50%);
}

.cardContainerBuyRight > p:first-of-type {
    padding-left: 3px;
    font-size: 0.9em;
    color: hsl(215, 51%, 70%);
}

hr {
    border-color: hsl(215, 51%, 70%);;
    margin: 5%;
}

.cardContainerAvatar {
    padding: 0% 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cardAvatar {
    border-radius: 50%;
    width: 50px;
}

.cardContainerAvatar > p:first-of-type {
    font-size: 0.9em;
    color: hsl(215, 51%, 70%);
}

.cardContainerAvatar span {
    font-size: 1em;
    color: hsl(0, 0%, 100%);
}